<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.foldedj.mapper.MessageMapper">

    <insert id="batchSave">
        INSERT INTO SYSDBA.MESSAGE (CONTENT,MESSAGE_TYPE,RECEIVER_ID,SENDER_ID,IS_READ,CONTENT_ID,CREATE_TIME)
        VALUES
        <foreach collection="list" item="message" index="index" separator=",">
            (#{message.content},#{message.messageType},#{message.receiverId},#{message.senderId},#{message.isRead},#{message.contentId},#{message.createTime})
        </foreach>
    </insert>

    <update id="update">
        UPDATE SYSDBA.MESSAGE
        <set>
            <if test="isRead != null">
                IS_READ = #{isRead},
            </if>
        </set>
        WHERE RECEIVER_ID = #{userId}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM SYSDBA.MESSAGE WHERE ID IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="query" resultMap="BaseResultMap">
        SELECT m.*,
        u1.USER_NAME AS RECEIVER_NAME,
        u1.USER_AVATAR AS RECEIVER_AVATAR,
        u2.USER_NAME AS SENDER_NAME,
        e.CONTENT AS EVALUATIONS_CONTENT
        FROM SYSDBA.MESSAGE m
        LEFT JOIN SYSDBA."USER" u1 ON u1.ID = m.RECEIVER_ID
        LEFT JOIN SYSDBA."USER" u2 ON u2.ID = m.SENDER_ID
        LEFT JOIN SYSDBA.EVALUATIONS e ON e.ID = m.CONTENT_ID
        <where>
            <if test="userId != null">
                AND m.RECEIVER_ID = #{userId}
            </if>
            <if test="messageType != null">
                AND m.MESSAGE_TYPE = #{messageType}
            </if>
            <if test="content != null and content != ''">
                AND m.CONTENT LIKE '%' || #{content} || '%'
            </if>
            <if test="isRead != null">
                AND m.IS_READ = #{isRead}
            </if>
            <if test="startTime != null and endTime != null">
                AND m.CREATE_TIME BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY m.CREATE_TIME DESC
        <if test="current != null and size != null">
            OFFSET #{current} ROWS FETCH NEXT #{size} ROWS ONLY
        </if>
    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*)
        FROM SYSDBA.MESSAGE m
        <where>
            <if test="userId != null">
                AND m.RECEIVER_ID = #{userId}
            </if>
            <if test="messageType != null">
                AND m.MESSAGE_TYPE = #{messageType}
            </if>
            <if test="content != null and content != ''">
                AND m.CONTENT LIKE '%' || #{content} || '%'
            </if>
            <if test="isRead != null">
                AND m.IS_READ = #{isRead}
            </if>
            <if test="startTime != null and endTime != null">
                AND m.CREATE_TIME BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.foldedj.pojo.vo.MessageVO">
        <id column="ID" property="id"/>
        <result column="CONTENT" property="content"/>
        <result column="MESSAGE_TYPE" property="messageType"/>
        <result column="RECEIVER_ID" property="receiverId"/>
        <result column="SENDER_ID" property="senderId"/>
        <result column="IS_READ" property="isRead"/>
        <result column="CONTENT_ID" property="contentId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="SENDER_NAME" property="senderName"/>
        <result column="RECEIVER_AVATAR" property="receiverAvatar"/>
        <result column="RECEIVER_NAME" property="receiverName"/>
        <result column="EVALUATIONS_CONTENT" property="evaluationsContent"/>
    </resultMap>

</mapper>
