<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.foldedj.mapper.NewsSaveMapper">

    <insert id="save">
        INSERT INTO SYSDBA.NEWS_SAVE (USER_ID, NEWS_ID, CREATE_TIME)
        VALUES (#{userId}, #{newsId}, #{createTime})
    </insert>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM SYSDBA.NEWS_SAVE WHERE ID IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="query" resultMap="BaseResultMap">

        SELECT ns.*,
               u.USER_NAME,
               n.NAME,
               n.COVER,
               n.CREATE_TIME AS NEWS_CREATE_TIME,
               n.CONTENT,
               t.NAME AS TAG_NAME
        FROM SYSDBA.NEWS_SAVE ns
        LEFT JOIN SYSDBA."USER" u ON u.ID = ns.USER_ID
        LEFT JOIN SYSDBA.NEWS n ON n.ID = ns.NEWS_ID
        LEFT JOIN SYSDBA.TAGS t ON t.ID = n.TAG_ID
        <where>
            <if test="userId != null">
                AND ns.USER_ID = #{userId}
            </if>
            <if test="newsId != null">
                AND ns.NEWS_ID = #{newsId}
            </if>
        </where>
        ORDER BY ns.CREATE_TIME DESC
        <if test="current != null and size != null">
            OFFSET #{current} ROWS FETCH NEXT #{size} ROWS ONLY
        </if>
    </select>

    <select id="queryCount" resultType="integer">

        SELECT COUNT(*)
        FROM SYSDBA.NEWS_SAVE ns
        <where>
            <if test="userId != null">
                AND ns.USER_ID = #{userId}
            </if>
            <if test="newsId != null">
                AND ns.NEWS_ID = #{newsId}
            </if>
        </where>

    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.foldedj.pojo.vo.NewsSaveVO">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="NEWS_ID" property="newsId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="USER_NAME" property="userName"/>
        <result column="COVER" property="cover"/>
        <result column="NAME" property="name"/>
        <result column="CONTENT" property="content"/>
        <result column="TAG_NAME" property="tagName"/>
        <result column="NEWS_CREATE_TIME" property="newsCreateTime"/>
    </resultMap>

</mapper>
