<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.foldedj.mapper.HealthModelConfigMapper">

    <insert id="save">
        INSERT INTO SYSDBA.HEALTH_MODEL_CONFIG (USER_ID, NAME, DETAIL, COVER, UNIT, SYMBOL, VALUE_RANGE, IS_GLOBAL)
        VALUES (#{userId}, #{name}, #{detail}, #{cover}, #{unit}, #{symbol}, #{valueRange}, #{isGlobal})
    </insert>

    <update id="update">
        UPDATE SYSDBA.HEALTH_MODEL_CONFIG
        <set>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="detail != null and detail != ''">
                DETAIL = #{detail},
            </if>
            <if test="cover != null and cover != ''">
                COVER = #{cover},
            </if>
            <if test="unit != null and unit != ''">
                UNIT = #{unit},
            </if>
            <if test="symbol != null and symbol != ''">
                SYMBOL = #{symbol},
            </if>
            <if test="valueRange != null and valueRange != ''">
                VALUE_RANGE = #{valueRange},
            </if>
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM SYSDBA.HEALTH_MODEL_CONFIG WHERE ID IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="query" resultMap="BaseResultMap">
        SELECT h.*,
        u.USER_NAME
        FROM SYSDBA.HEALTH_MODEL_CONFIG h
        LEFT JOIN SYSDBA."USER" u ON u.ID = h.USER_ID
        <where>
            <if test="id != null">
                AND h.ID = #{id}
            </if>
            <if test="userId != null">
                AND h.USER_ID = #{userId}
            </if>
            <if test="name != null and name != ''">
                AND h.NAME LIKE '%' || #{name} || '%'
            </if>
            <if test="detail != null and detail != ''">
                AND h.DETAIL LIKE '%' || #{detail} || '%'
            </if>
            <if test="isGlobal != null and isGlobal != ''">
                AND h.IS_GLOBAL = #{isGlobal}
            </if>
            <if test="unit != null and unit != ''">
                AND h.UNIT LIKE '%' || #{unit} || '%'
            </if>
            <if test="symbol != null and symbol != ''">
                AND h.SYMBOL LIKE '%' || #{symbol} || '%'
            </if>
        </where>
        ORDER BY h.ID DESC
        <if test="current != null and size != null">
            OFFSET #{current} ROWS FETCH NEXT #{size} ROWS ONLY
        </if>
    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*)
        FROM SYSDBA.HEALTH_MODEL_CONFIG h
        <where>
            <if test="userId != null">
                AND h.USER_ID = #{userId}
            </if>
            <if test="name != null and name != ''">
                AND h.NAME LIKE '%' || #{name} || '%'
            </if>
            <if test="detail != null and detail != ''">
                AND h.DETAIL LIKE '%' || #{detail} || '%'
            </if>
            <if test="unit != null and unit != ''">
                AND h.UNIT LIKE '%' || #{unit} || '%'
            </if>
            <if test="symbol != null and symbol != ''">
                AND h.SYMBOL LIKE '%' || #{symbol} || '%'
            </if>
        </where>
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.foldedj.pojo.vo.HealthModelConfigVO">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="NAME" property="name"/>
        <result column="DETAIL" property="detail"/>
        <result column="COVER" property="cover"/>
        <result column="UNIT" property="unit"/>
        <result column="SYMBOL" property="symbol"/>
        <result column="VALUE_RANGE" property="valueRange"/>
        <result column="IS_GLOBAL" property="isGlobal"/>
    </resultMap>

</mapper>
